.c-post {
  margin: 15px 0;

  &__meta {
    display: flex;

    &--username,
    &--created-at {
      font-size: 0.75em;
      padding-right: 7px;
    }
  }

  &__content {
    font-size: 1em;
  }
}
