.new-post-form {
  &__textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px $primary solid;
    resize: none;
    border-radius: 0;
    background: none;
  }
}

.post {
  &__image {
    // TODO: allow users to upload avatar
    height: 50px;
    width: 50px;
  }

  &__head {
    margin-bottom: 5px;

    &--name {
      padding-right: 5px;
    }

    &--datetime {
      align-items: baseline;
    }
  }

  &__body {
    word-break: break-all;
  }
}
