.new-post-form {
  &__textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px $primary solid;
    resize: none;
    border-radius: 0;
    background: none;

    &:hover,
    &:focus {
      border-bottom: 1px $primary solid;
    }
  }
}

.advanced-search-form {
  &__input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px $grey-lighter solid;
    resize: none;
    border-radius: 0;
    background: none;

    &:hover,
    &:focus {
      border-bottom: 1px $grey solid;
    }
  }
}
