$link: #00d1b2;
$notification-padding: 1rem 2.5rem 1rem 1.5rem;
$notification-radius: 8px;
$modal-card-head-radius: 8px;
$modal-card-foot-radius: 8px;
$modal-card-head-background-color: #00d1b2;
$modal-card-foot-background-color: #fff;
$modal-card-top-border-bottom: none;
$modal-card-foot-border-top: none;
$modal-card-title-color: #fff;
